<footer class="footer">
    <div class="footer-content">
        <div class="footer-logo">
            <img src="assets/images/3-removebg-preview.png">
        </div>
        
        <div class="footer-contact">
            <h3>Contact</h3>
            <p><a href="mailto:contact@travelagnecy.ma">travelagency.ma</a></p>
            <p>+212 615193902</p>
        </div>

        <div class="footer-menu">
            <h3>Menu</h3>
            <ul>
                <li><a [routerLink]="['/']" >Home</a></li>
                <li><a [routerLink]="['/food']" >Food</a></li>
                <li><a href="#">Travel</a></li>
                <li><a [routerLink]="['/Store']" >Store</a></li>
            </ul>
        </div>

        <div class="footer-social">
            <h3>Follow Us</h3>
            <div class="social-icons">
                <a href="#" class="social-icon facebook">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#" class="social-icon instagram">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="#" class="social-icon youtube">
                    <i class="fab fa-youtube"></i>
                </a>
            </div>
        </div>
    </div>
</footer>

<!-- Ajoutez le lien vers Font Awesome pour les icônes sociales -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
