@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: transparent; 
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.logo img {
  height: 200px;
  width: 200px;
  position: absolute;
  top: -2.5rem;
  left: 5rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
  margin-left: 20%; 
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar ul li a.active-link {
  color: #ff6f61;
}

.nav-links li a:hover {
  color: #ff6f61; 
}

.auth-buttons {
  display: flex;
  gap: 15px;
  margin-right: 6%; 
}

.auth-buttons a {
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
  border: 2px solid #ff6f61;
}

.auth-buttons a.login {
  background-color: transparent; 
  color: #fff; 
  border: 2px solid #ff6f61; 
}

.auth-buttons a.login:hover {
  background-color: #ff6f61; 
  color: #fff; 
  border-color: #ff6f61; 
}

.auth-buttons a.signup {
  background-color: #ff6f61;
  color: #fff;
}

.auth-buttons a.signup:hover {
  background-color: #e65a50;
  border-color: #e65a50;
}